`#main{
    width:1000px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#fff;
    overflow:hidden;

}
.panel1,.panel2{
    width:49%;
    float:left;
    border:1px solid #000;
    top:0px;
    height:500px;
}
.player-name{

    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.player-score{
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}
.current-box{
    width:40%;
    text-align: center;
    padding:12px;
    color:#fff;
    background:#eb4d4d;
    margin:0 auto;
    font-size:18px;
}
.dice{
    position: absolute;
    left: 40%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    display:none;
}
#start{
    position: absolute;
    left:180px;
    z-index: 100;
    bottom:100px;   
}

#end{
    position: absolute;
    right:365px;
    z-index: 100;
    bottom:100px;   
}
#restart{
     position: absolute;
    right:670px;
    z-index: 100;
    bottom:100px;   

}